.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 28px;
  font-family: "Space Grotesk";
  font-weight: 700;
  font-size: 16px;
  width: 197px;
  height: 56px;
  border: none;
  background: linear-gradient(
    133.63deg,
    #efff8d 16.84%,
    rgba(30, 158, 51, 0.7) 119.25%
  );
  border-radius: 52px;
  
}
