.coloredText {
  background: linear-gradient(
    133.63deg,
    #efff8d 16.84%,
    rgba(30, 158, 51, 0.7) 119.25%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
