.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 71px 81px;
  .logo {
    display: flex;
    align-items: baseline;
    img {
      margin-right: 0.5rem;
      width: 36px;
    }
    span {
      font-family: "Space Grotesk";
      color: #f4f4f5;
      font-weight: 500;
      font-size: 36px;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 520px;
    width: 60%;
    .menu-item {
      color: #f4f4f5;
      list-style: none;
      font-size: 20px;
      &:hover {
        color: #acff9e;
        cursor: pointer;
      }
      &.active {
        color: #acff9e;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 1rem 6%;
    flex-wrap: wrap;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: baseline;
      img {
        margin-right: 0.5rem;
        width: 24px;
      }
      span {
        font-family: "Space Grotesk";
        color: #f4f4f5;
        font-weight: 500;
        font-size: 24px;
      }
    }
    .menu {
      display: none;
    
    }
  }
}
